<div class="container">
  <div class="jumbotron">
    <h1>AngularBar (Ruby On Rails)</h1>
    <p>de Jean-Baptiste Sempé et Loic Nesme</p>
  </div>
  <div ng-controller="BarsCtrl">
    <div class="row">
      <div class="col-md-8">
        <form class="form-inline" ng-submit="addBar()">
          <div class="form-group">
            <input type="text" class="form-control" name="name" placeholder="ajouter un bar" ng-model="bar.name" />
          </div>
          <button type="submit" class="btn btn-primary">Ajouter</button>
        </form>
      </div>
      <div class="col-md-4">
        <div class="form-group has-feedback">
          <input ng-change="filterBars()" type="text" id="search" class="form-control" ng-model="search" placeholder="Rechercher un bar" />
          <i class="glyphicon glyphicon-search form-control-feedback"></i>
          </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <table class="table table-striped">
          <thead>
            <tr>
              <th class="col-md-6">Nom</th>
              <th class="col-md-6">Bieres</th>
              <th class="col-md-6">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="bar in bars" ng-include="toggleForm(bar)"></tr>
          </tbody>
        </table>
      </div>
    </div>

    <script type="text/ng-template" id="form">
      <td>
        <input ng-model="editing.name" type="text" class="form-control" name="name" />
      </td>
      <td>
        <button ng-click="hideForm()" class="btn btn-default btn-xs">Annuler</button>
        <button ng-click="updateBar($index)" class="btn btn-success btn-xs">Enregistrer</button>
      </td>
    </script>
    <script type="text/ng-template" id="row">
      <td>
        <span>{{bar.name}}</span>
      </td>
      <td>
        <span ng-repeat="beer in bar.beers">{{beer.name}}</span>
      </td>
      <td>
        <button ng-click="editBar(bar)" class="btn btn-primary btn-xs">Modifier</button>
        <button ng-click="destroyBar(bar, $index)" class="btn btn-danger btn-xs">Supprimer</button>
      </td>
    </script>
    <a href="/beers" class="btn btn-primary btn-md"> Nos Bières</a>
  </div>
</div>
